<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>

    <link rel="shortcut icon" type="image/ico" href="/ico/topology.ico"/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="/jui/dist/ui-jennifer.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid-jennifer.min.css"/>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>

    <script src="/jui-core/dist/core.min.js"></script>
    <script src="/jui/dist/ui.min.js"></script>
    <script src="/jui-grid/dist/grid.min.js"></script>
    <script src="/jui-chart/dist/chart.min.js"></script>
    <script src="/js/custom/topologynode2.js"></script>

    <!-- it's mine -->
    <script src="/js/controller.js"></script>
    <script src="/js/loading_modal.js"></script>
    <script src="/js/topology.js"></script>

    <script type="text/javascript">
        openRemoteController = function () {
            remoteController = window.open("/rc", "Remote Controller",
                    "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=1, width=1200, height=800");
        }
    </script>
</head>
<body class="jui">

<header class="navbar fixed top" style="background: #2B3340; height: 75px; z-index: 10001;">
    <div class="center" style="position: relative;">
        <span>
            <a style="cursor: pointer;" onclick="location.href='/'">
                <i class="icon icon-analysis" style="font-size: 50px; color: white; margin-top: 7px;">
                    <span style="font-family: Consolas; font-size: 40px;"> JavaByteCode Analysis</span>
                </i>
            </a>
        </span>
    </div>
</header>

<div id="loading_modal" class="msgbox" style="display: none;">
    <div class="head">
        알림
    </div>
    <div class="body">
        데이터를 불러오는 중입니다... <i class="icon-loading spin" style="font-size: 20px;"></i>
    </div>
</div>

<div id="topology_loading" style="display: none; font-size: 20px;">
    NOW LOADING... <i class="icon-loading spin" style="font-size: 20px;"></i>
</div>

<div id="history_tooltip" class="popover" style="display: none; z-index: 10000;">
    <div class="head"></div>
    <div class="body"></div>
</div>

<div id="topology_node_dd" class="dropdown large" style="position: absolute; z-index: 10002;">
    <ul id="topology_node_dd_list" style="padding: 10px;">
    </ul>
</div>

<section class="horizontal-main">

    <div class="vertical-main">

        <div class="h2" style="margin-bottom:10px;">분석할 파일을 선택하세요.
            <small>*.class, *.jar</small>
        </div>
        <form id="frmUpload" method="post" enctype="multipart/form-data">
            <input type="file" style="cursor: pointer;" name="uploadFile" multiple accept=".class, .jar"/>
            <input type="button" id="uploadButton" class="btn focus" value="Load"/>
            <input type="button" id="clearButton" class="btn" value="Clear"/>
            <input id="hiddenHash" name="hiddenHash" type="hidden" value="<%= hash %>"/>
        </form>
        <br/>

        <a class="btn" style="font-size: 17px;" onclick="openRemoteController()"><i class="icon-profile"></i> Remote
            Controller</a>


        <hr/>

    </div>

    <div id="help_div"
         style="position: absolute; left: 18%; top: 28%; width: 1200px; margin-bottom: 30px; text-align: center;">

        <!--<div class="h1" style="margin-bottom: 20px;">-->
        <!--처음 시작하시는 분들께서는<br/>-->
        <!--파일을 첨부하고 Load하신 후에<br/>-->
        <!--아래와 같이 도움말을 참고해주십시오.-->
        <!--</div>-->
        <!--<div>-->
        <!--<img src="/images/inform/rc_help.png" style="border: solid 1px lightgray;"/><br/>-->
        <!--<div class="h4">[ Remote Controller의 우측 상단 ]</div><br/>-->

        <!--<img src="/images/inform/topology_help.png" style="border: solid 1px lightgray;"/><br/>-->
        <!--<div class="h4">[ Topology의 상단 ]</div><br/>-->
        <!--</div>-->

        <div class="h1" style="margin-bottom: 20px;">
            처음 시작하시는 분들께서는<br/>
            파일을 첨부하고 Load를 해주세요.<br/><br/>

            이미 Load하신 적이 있다면, 과거의 기록이 남아있을 것입니다.<br/>
        </div>

    </div>

    <div id="topology_div" style="display: none; position: absolute; left: 18%; top: 28%;">

        <div id="topology_msgbox" class="msgbox" style="width: 1200px; height: 100px; margin-bottom: 30px;">
            <div class="head">
                Topology
                <a class="btn small" style="font-size: 13px; margin-left: 50px;"
                   onclick="window.open('/help_topology', 'helpTopology')"><i class="icon-help"></i></a>

                <div class="navbar" style="text-align: left; margin-top: 5px; background: white;">
                    <span>Relation</span>
                    <a id="relation_content" class="btn small" onclick="relationDD.show()"
                       style="width: 100px; text-align: center;">
                        Both
                        <i class="icon-arrow1"></i>
                    </a>
                    <div id="relation_dd" class="dropdown" style="left: 80px;">
                        <div class="anchor" style="left: 20px;"></div>
                        <ul style="width: 100px;">
                            <li>Both</li>
                            <li>Outgoing</li>
                            <li>Ingoing</li>
                        </ul>
                    </div>

                    <span style="margin-left: 20px;">Detail</span>
                    <a id="detail_content" class="btn small" onclick="detailDD.show()"
                       style="width: 100px; text-align: center;">
                        Methods
                        <i class="icon-arrow1"></i>
                    </a>
                    <div id="detail_dd" class="dropdown" style="left: 240px;">
                        <div class="anchor" style="left: 20px;"></div>
                        <ul style="width: 100px;">
                            <li>Methods</li>
                            <li>Classes</li>
                            <li>Packages</li>
                        </ul>
                    </div>

                    <span style="margin-left: 30px;">Depth</span>
                    <div id="depth_slider" class="slider horizontal" style="width: 160px; display: inline-block;"></div>

                    <a class="btn focus" title="Topology의 속성을 변경합니다." style="margin-left: 10px;"
                       onclick="loadTopology(null, null)"><i
                                class="icon-refresh"></i></a>


                    <a id="btn_filter" class="btn" style="float: right;" onclick="initFilter()"><i
                                class="icon-filter"></i></a>
                    <a class="btn" title="현재 적용한 Filter를 저장합니다." style="float: right;" onclick="saveFilter();"><i
                                class="icon-save"></i></a>

                    <div id="filter"
                         style="position: absolute; z-index: 10010; width: 500px; height: 400px; display: none; padding: 10px;">
                        <div class="window" style="width: 500px; height: 400px;">
                            <div class="head">
                                <div class="left">Filter</div>
                            </div>

                            <div class="body" style="height:280px;">
                                <!--<ul id="filter_tree" class="tree line"></ul>-->
                                <div id="filter_list" class="vmenu">
                                    <a style="cursor: default;"><span><i class="icon-document"></i> test</span><i
                                                class="icon-exit"
                                                style="cursor: pointer;"
                                                onclick="alert('qqq')"></i></a>
                                </div>
                            </div>

                            <div class="foot">
                                <a class="btn focus small" onclick="applyFilter(true)">Apply</a>
                                <a class="btn small" onclick="defaultFilter()">Default</a>
                                <a class="btn small" onclick="clearFilter()">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="history_nav" class="navbar" style="text-align: left; margin-top: 5px; background: white;">
                    <span style="margin-right: 10px;">History</span>
                    <span id="history_span"></span>
                    <a class="btn small" title="History를 초기화합니다." style="float: right;" onclick="clearHistory();"><i
                                class="icon-exit"></i></a>

                </div>
            </div>

            <div id="topology_body" class="body">

                <div id="topology" style="width: 1150px; height: 100px;">
                    bbbb
                </div>

            </div>
        </div>

    </div>

</section>

</body>
</html>

<!--**********************************************************************************************************************-->

<!-- filter_tree의 template -->
<script data-jui="#filter_tree" data-tpl="node" type="text/template">
    <li>
        <div>
            <input type="checkbox" checked="<!= checked !>" onchange="checkChanged(this)"/>
            <! if (type == "Package") { !>
            <i class="icon-document"></i>
            <! } else { !>
            <i class="icon-script"></i>
            <! } !>
            <!= name !>
        </div>
        <ul></ul>
    </li>
</script>

<!-- project-tab의 template -->
<!--<script data-jui="#project-tab" data-tpl="node" type="text/template">-->
<!--<! if (num == "0") { !>-->
<!--<li class="active"><a href="#" style="width: 50px;">0</a>-->
<!--<! } else { !>-->
<!--<li>-->
<!--<a href="#">-->
<!--<div class="row">-->
<!--<div class="col"><!= num !></div>-->
<!--<div class="col" style="margin-left: 30px; font-size:10px; color: red; cursor: pointer;"-->
<!--onclick="removeTab(this.parentElement.innerText)"><i class="icon-close"></i></div>-->
<!--</div>-->
<!--</a>-->
<!--<! } !>-->
<!--</li>-->
<!--</script>-->