<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="/jui/dist/ui-jennifer.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid-jennifer.min.css"/>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>

    <script src="/jui-core/dist/core.min.js"></script>
    <script src="/jui/dist/ui.min.js"></script>
    <script src="/jui-grid/dist/grid.min.js"></script>
    <script src="/jui-chart/dist/chart.min.js"></script>

    <!-- it's mine -->
    <script>
    </script>
    <script src="/js/controller.js"></script>
    <script src="/js/details_table.js"></script>
    <script src="/js/remote_controller.js"></script>
    <!--<script src="/js/project-tab.js"></script>-->
    <script src="/js/loading_modal.js"></script>
    <script src="/js/topology_modal.js"></script>
    <script src="/js/topology.js"></script>
</head>
<body class="jui">

<header class="navbar fixed top" style="background: #2B3340; height: 75px;">
    <div class="center" style="position: relative;">
                <span>
                    <a style="cursor: pointer;" onclick="location.href='/'">
                        <i class="icon icon-analysis" style="font-size: 50px; color: white; margin-top: 7px;">
                            <span style="font-family: Consolas; font-size: 40px;"> JavaByteCode Analysis</span>
                        </i>
                    </a>
                </span>
    </div>
</header>

<div id="loading_modal" class="msgbox" style="display: none;">
    <div class="head">
        알림
    </div>
    <div class="body">
        데이터를 불러오는 중입니다... <i class="icon-loading spin" style="font-size: 20px;"></i>
    </div>
</div>

<div id="topology_modal" class="msgbox" style="display: none; width: 1500px; height: 850px;">
    <div id="topology_modal_head" class="head">
        Topology

        <div class="navbar" style="margin-top: 5px; background: white;">
            <span>Relation</span>
            <a id="relation_content" class="btn small" onclick="relationDD.show()" style="width: 100px; text-align: center;">
                Both
                <i class="icon-arrow1"></i>
            </a>
            <div id="relation_dd" class="dropdown" style="left: 80px;">
                <div class="anchor" style="left: 20px;"></div>
                <ul style="width: 100px;">
                    <li>Both</li>
                    <li>Outgoing</li>
                    <li>Ingoing</li>
                </ul>
            </div>

            <span style="margin-left: 20px;">Detail</span>
            <a id="detail_content" class="btn small" onclick="detailDD.show()" style="width: 100px; text-align: center;">
                Classes
                <i class="icon-arrow1"></i>
            </a>
            <div id="detail_dd" class="dropdown" style="left: 240px;">
                <div class="anchor" style="left: 20px;"></div>
                <ul style="width: 100px;">
                    <li>Methods</li>
                    <li>Classes</li>
                    <li>Packages</li>
                </ul>
            </div>

            <span style="margin-left: 30px;">Depth</span>
            <div id="depth_slider" class="slider horizontal" style="width: 160px; display: inline-block;"></div>

            <a class="btn focus" style="margin-left: 10px;" onclick="loadTopology()"><i class="icon-refresh"></i></a>
        </div>

    </div>
    <div id="topology_modal_body" class="body">
        <div id="topology" style="width: 1480px; height: 785px">

        </div>
    </div>
</div>

<div id="topology_loading_modal" style="display: none; font-size: 20px;">
    NOW LOADING... <i class="icon-loading spin" style="font-size: 20px;"></i>
</div>

<section class="horizontal-main">

    <!--<div id="css-project-tab">-->
    <!--<ul id="project-tab" class="tab top">-->
    <!--<li class="active"><a href="#" style="width: 50px;">0</a></li>-->
    <!--<span id="btn_add_project" class="btn focus" style="float: left; margin-top: 4px;" onclick="insertTab()"><i class="icon-plus"></i></span>-->
    <!--<span id="btn_clear_project" class="btn" style="float: right; margin-top: 4px;" onclick="alert(1)"><i class="icon-trashcan"></i></span>-->
    <!--</ul>-->
    <!--</div>-->

    <div class="vertical-main">
        <!--<div class="h1" style="margin-bottom: 10px; font-style: italic; font-weight: bold;">Project # <span-->
        <!--id="project_num">0</span></div>-->
        <div class="h2" style="margin-bottom:10px;">분석할 파일을 선택하세요.
            <small>*.class, *.jar</small>
        </div>
        <form id="frmUpload" method="post" enctype="multipart/form-data">
            <input type="file" style="cursor: pointer;" name="uploadFile" multiple accept=".class, .jar"/>
            <input type="button" id="uploadButton" class="btn focus" value="Load"/>
            <input type="button" id="clearButton" class="btn" value="Clear"/>
            <input id="hiddenHash" name="hiddenHash" type="hidden" value="<%= hash %>"/>
        </form>
        <br/>
        <hr/>
    </div>

    <div id="content-main">

        <p>
        <div id="remote_controller" class="window" style="text-align: left;">
            <div class="head">
                <div class="left">Package Tree</div>
                <div class="right">
                    <a href="#" class="close" onclick="switchTree.setValue(false)"><i class="icon-exit"></i></a>
                </div>
            </div>

            <div class="body">
                <ul id="package-tree" class="tree line"></ul>
            </div>
        </div>
        </p>

        <!--<p>-->
        <!--<div id="topology">-->

        <!--</div>-->
        <!--</p>-->
        <!--<hr/>-->

        <p>
        <div style="margin-right: 880px;">
            <button id="btn-home" style="margin-bottom: 20px; width: 30px; height: 30px;"><i class="icon-home"></i>
            </button>
            <button id="btn-up" style="margin-bottom: 20px; swidth: 30px; height: 30px; ;"><i class="icon-arrow3"></i>
            </button>
            <div id="switch-tree" class="switch inner" style="margin-bottom: 0px;"></div>
        </div>

        <table id="details_table" class="table expand">
            <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th style="text-align: center;">Name</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- dropdown -->
        <div id="details_table_dd" class="dropdown large">
            <ul style="width: 300px;">
                <span id="selected_name">null</span>
                <li class="divider"></li>
                <li>View Topology</li>
                <li>메뉴2</li>
                <li>메뉴3</li>
            </ul>
        </div>

        </p>
    </div>
</section>
</body>
</html>

<!--**********************************************************************************************************************-->

<!-- details_table의 template -->
<script data-jui="#details_table" data-tpl="row" type="text/template">
    <tr>
        <! if(type == "Package") { !>
        <td><i class="icon-document"></i></td>
        <td><!= longName !></td>
        <! } else { !>
        <td><i class="icon-left"></i></td>
        <! if(!isLoaded) { !>
        <td style="color: red;"><!= longName !></td>
        <! } else { !>
        <td><!= longName !></td>
        <! } !>
        <! } !>
    </tr>
</script>

<script data-jui="#details_table" data-tpl="expand" type="text/template">
    <div class="row">
        <div class="group">
            <span class="h1">
                <!= longName !>
            </span>
            <! if(!isLoaded) { !>
            <span class="h3" style="color: red;">
                ( Unloaded )
            </span>
            <! } !>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <table class="table classic">
            <thead>
            <tr>
                <th style="width: 100px; text-align: center;">Type</th>
                <th style="text-align: center;">Information</th>
            </tr>
            </thead>
            <tbody>

            <! if((superClassName != 'java.lang.Object' && superClassName != null) || interfaceNames.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Class</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! if(superClassName != 'java.lang.Object' && superClassName != null) { !>
                            <tr>
                                <td>SuperClass</td>
                                <td><!= superClassName !></td>
                            </tr>
                            <! } !>

                            <! if(interfaceNames.length > 0) { !>
                            <tr>
                                <td rowspan="<!= interfaceNames.length !>">Interfaces</td>
                                <td><!= interfaceNames[0] !></td>
                            </tr>
                            <! for(var i = 1; i < interfaceNames.length; i++) { !>
                            <tr>
                                <td><!= interfaceNames[i] !></td>
                            </tr>
                            <! } !>
                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            <!

            var fields = [];
            var methods = [];
            for(var i = 0; i < children.length; i++) {
            if (children[i].type == "Field") {
            fields.push(children[i]);
            } else if (children[i].type == "Method") {
            methods.push(children[i]);
            }
            }

            !>

            <! if(fields.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Fields</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! for(var i = 0; i < fields.length; i++) { !>
                            <tr>
                                <td rowspan="2"><!= fields[i].name !></td>
                                <td>Access Modifier</td>
                                <td><!= fields[i].accessModifier !></td>
                            </tr>
                            <tr>
                                <td>Return Type</td>
                                <td><!= fields[i].returnType !></td>
                            </tr>
                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            <! if(methods.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Methods</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! for(var i = 0; i < methods.length; i++) { !>

                            <tr>
                                <! var methodRowCount = 3 + methods[i].parameters.length +
                                methods[i].calledMethods.length; !>
                                <td rowspan="<!= methodRowCount !>" oncontextmenu="methodRightClick('<!= longName !>', this, '<!= methods[i].signature !>', event); return false;">
                                    <span style="font-weight: bold;"><!= methods[i].name !></span>
                                </td>
                                <td>Access Modifier</td>
                                <td>
                                    <! if(methods[i].accessModifier != null) { !>
                                    <!= methods[i].accessModifier !>
                                    <! } !>
                                </td>
                            </tr>

                            <tr>
                                <td>Return Type</td>
                                <td>
                                    <! if (methods[i].returnType != null) { !>
                                    <!= methods[i].returnType !>
                                    <! } !>
                                </td>
                            </tr>

                            <! if (methods[i].parameters.length > 0) { !>
                            <tr>
                                <td rowspan="<!= methods[i].parameters.length !>">Parameters</td>
                                <td><!= methods[i].parameters[0] !></td>
                            </tr>
                            <! for(var j = 1; j < methods[i].parameters.length; j++) { !>
                            <tr>
                                <td><!= methods[i].parameters[j] !></td>
                            </tr>
                            <! } !>
                            <! } !>

                            <tr>
                                <td>Called Count</td>
                                <td><!= methods[i].calledCount !></td>
                            </tr>

                            <! if (methods[i].calledMethods.length > 0) { !>
                            <tr>
                                <td rowspan="<!= methods[i].calledMethods.length !>">Called Methods</td>
                                <td><!= methods[i].calledMethods[0].name !></td>
                            </tr>
                            <! for (var j = 1; j < methods[i].calledMethods.length; j++) { !>
                            <tr>
                                <td><!= methods[i].calledMethods[j].name !></td>
                            </tr>
                            <! } !>
                            <! } !>

                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            </tbody>
        </table>
    </div>
</script>

<!-- package-tree의 template -->
<script data-jui="#package-tree" data-tpl="node" type="text/template">
    <li>
        <! if(!isLoaded) { !>
        <div style="color: red;">
            <! } else { !>
            <div>
                <! } !>
                <! if(type == "Package") { !>
                <i class="icon-document"></i>
                <! } else if(type == "Class") { !>
                <i class="icon-script"></i>
                <! } !>
                <!= name !>
            </div>
            <ul></ul>
    </li>
</script>

<!-- project-tab의 template -->
<!--<script data-jui="#project-tab" data-tpl="node" type="text/template">-->
<!--<! if (num == "0") { !>-->
<!--<li class="active"><a href="#" style="width: 50px;">0</a>-->
<!--<! } else { !>-->
<!--<li>-->
<!--<a href="#">-->
<!--<div class="row">-->
<!--<div class="col"><!= num !></div>-->
<!--<div class="col" style="margin-left: 30px; font-size:10px; color: red; cursor: pointer;"-->
<!--onclick="removeTab(this.parentElement.innerText)"><i class="icon-close"></i></div>-->
<!--</div>-->
<!--</a>-->
<!--<! } !>-->
<!--</li>-->
<!--</script>-->