<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="/jui/dist/ui-jennifer.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid-jennifer.min.css"/>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>

    <script src="/jui-core/dist/core.min.js"></script>
    <script src="/jui/dist/ui.min.js"></script>
    <script src="/jui-grid/dist/grid.min.js"></script>
    <script src="/jui-chart/dist/chart.min.js"></script>

    <!-- it's mine -->
    <script src="/js/controller.js"></script>
    <script src="/js/details-table.js"></script>
</head>
<body class="jui">

<header class="navbar fixed top" style="background: #2B3340; height: 75px;">
    <div class="center" style="position: relative;">
                <span>
                    <a style="cursor: pointer;" onclick="location.href='/'">
                        <i class="icon icon-analysis" style="font-size: 50px; color: white; margin-top: 7px;">
                            <span style="font-family: Consolas; font-size: 40px;"> JavaByteCode Analysis</span>
                        </i>
                    </a>
                </span>
    </div>
</header>

<section class="horizontal-main">
    <p class="vertical-main">
    <div class="h2" style="margin-bottom:10px;">분석할 파일을 선택하세요.
        <small>*.class, *.jar</small>
    </div>
    <form id="frmUpload" method="post" enctype="multipart/form-data">
        <input type="file" style="cursor: pointer;" name="uploadFile" multiple accept=".class, .jar"/>
        <input type="button" id="uploadButton" class="btn focus" value="Load"/>
        <input type="button" id="clearButton" class="btn" value="Clear"/>
    </form>
    </p>
    <hr/>
    <p>
    <table id="details-table" class="table expand" style="visibility: collapse;">
        <thead>
        <tr>
            <th style="width: 30px;"></th>
            <th style="text-align: center;">Class Name</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </p>
</section>

</body>
</html>

<!--**********************************************************************************************************************-->

<!-- details-table의 template -->
<script data-jui="#details-table" data-tpl="row" type="text/template">
    <tr>
        <td><i class="icon-left"></i></td>
        <td><!= classLongName !></td>
    </tr>
</script>
<script data-jui="#details-table" data-tpl="expand" type="text/template">
    <div class="row">
        <div class="group">
            <span class="h1">
                <! if(inAnyPackage != null) { !>
                <small>
                    <!= inAnyPackage !>
                </small>
                <! } !>
                <!= className !>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <table class="table classic">
            <thead>
            <tr>
                <th style="width: 100px; text-align: center;">Type</th>
                <th style="text-align: center;">Information</th>
            </tr>
            </thead>
            <tbody>

            <! if(superClassName != 'java.lang.Object' || interfaceNames.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Class</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! if(superClassName != 'java.lang.Object') { !>
                            <tr>
                                <td>SuperClass</td>
                                <td><!= superClassName !></td>
                            </tr>
                            <! } !>

                            <! if(interfaceNames.length > 0) { !>
                            <tr>
                                <td rowspan="<!= interfaceNames.length !>">Interfaces</td>
                                <td><!= interfaceNames[0] !></td>
                            </tr>
                            <! for(var i = 1; i < interfaceNames.length; i++) { !>
                            <tr><td><!= interfaceNames[i] !></td></tr>
                            <! } !>
                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            <! if(jbcfields.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Fields</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! for(var i = 0; i < jbcfields.length; i++) { !>
                            <tr>
                                <td rowspan="2"><!= jbcfields[i].fieldName !></td>
                                <td>Access Modifier</td>
                                <td><!= jbcfields[i].accessModifier !></td>
                            </tr>
                            <tr>
                                <td>Return Type</td>
                                <td><!= jbcfields[i].returnType !></td>
                            </tr>
                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            <! if(jbcmethods.length > 0) { !>
            <tr>
                <td style="font-weight: bold">Methods</td>
                <td>

                    <div>
                        <table class="table simple hover" style="width: 100%;">
                            <tbody>
                            <! for(var i = 0; i < jbcmethods.length; i++) { !>

                            <tr>
                                <! var methodRowCount = 3 + jbcmethods[i].parameters.length + jbcmethods[i].calledMethods.length; !>
                                <td rowspan="<!= methodRowCount !>"><!= jbcmethods[i].methodName !></td>
                                <td>Access Modifier</td>
                                <td><!= jbcmethods[i].accessModifier !></td>
                            </tr>

                            <tr>
                                <td>Return Type</td>
                                <td>
                                    <! if(jbcmethods[i].returnType != null) { !>
                                    <!= jbcmethods[i].returnType !>
                                    <! } !>
                                </td>
                            </tr>

                            <! if(jbcmethods[i].parameters.length > 0) { !>
                            <tr>
                                <td rowspan="<!= jbcmethods[i].parameters.length !>">Parameters</td>
                                <td><!= jbcmethods[i].parameters[0] !></td>
                            </tr>
                            <! for(var j = 1; j < jbcmethods[i].parameters.length; j++) { !>
                            <tr><td><!= jbcmethods[i].parameters[j] !></td></tr>
                            <! } !>
                            <! } !>

                            <tr>
                                <td>Called Count</td>
                                <td><!= jbcmethods[i].calledCount !></td>
                            </tr>

                            <! if(jbcmethods[i].calledMethods.length > 0) { !>
                            <tr>
                                <td rowspan="<!= jbcmethods[i].calledMethods.length !>">Called Methods</td>
                                <td><!= jbcmethods[i].calledMethods[0] !></td>
                            </tr>
                            <! for(var j = 1; j < jbcmethods[i].calledMethods.length; j++) { !>
                            <tr><td><!= jbcmethods[i].calledMethods[j] !></td></tr>
                            <! } !>
                            <! } !>

                            <! } !>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            <! } !>

            </tbody>
        </table>
    </div>
</script>