<!DOCTYPE html>
<html>
<head>
    <title>Help - Topology</title>

    <link rel="shortcut icon" type="image/ico" href="/ico/help.ico"/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="/jui/dist/ui-jennifer.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="/jui-grid/dist/grid-jennifer.min.css"/>

    <script src="//code.jquery.com/jquery.min.js"></script>

</head>
<body class="jui">

<header class="navbar fixed top" style="background: #2B3340; height: 75px; z-index: 10001;">
    <div style="text-align: center; margin-top: 10px;">
        <span style="font-family: Consolas; font-size: 40px;">
            <a href="#" style="color: white; text-decoration: none;">Help - Topology</a>
        </span>
    </div>
</header>

<div id="tooltip" class="popover" style="display: none; z-index: 10000;">
    <div class="head">Tooltip</div>
    <div class="body"></div>
</div>

<div style="text-align: center; margin-top: 150px;">

    <div class="h1" style="margin-bottom: 30px;">Topology는 아래와 같이 구성되어 있습니다.</div>



</div>

</body>
</html>