a {
    color: #00B7FF;
}

.center {
    position: relative;
    width: 600px;
    margin: 0 auto !important;
}

#css-project-tab {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 90%;
}

.horizontal-main {
    text-align: center;
}

.vertical-main {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 85%;
}

#details-table {
    width: 1000px;
    margin: 0 auto;
}

.details-sub-table {
    width: 800px;
    margin: 0 auto;
}

#topology {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
}